:root {
--first-font-color: #FFFFFF;
}

body {
  margin: 0 auto;
  font-family: Poppins;
}
/*header*/
header{
  background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.5)), url("media/bg.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  text-align: center;
  padding: 16px 8px; 
  color: var(--first-font-color);
  width: auto;
  min-height: 60vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
font-weight: 700;
font-size: 96px;
line-height: 100%;
margin: 0%;
}

header h3 {
font-weight: 400;
font-style: Regular;
font-size: 40px;
line-height: 100%;
}

header h5 {
opacity: 1;
gap: 10px;
padding-top: 16px;
padding-right: 32px;
padding-bottom: 16px;
padding-left: 32px;

}
.button {
  background-color: var(--first-font-color);
  color: black;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/*footer*/
footer {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("media/Bairo\ Alto.jpeg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  text-align: center;
  padding: 16px 8px; 
  color: var(--first-font-color);
  width: auto;
  min-height: 40vh;
  z-index: 1;
}
.footer-main-row {
  display: flex;
  flex-direction: row;
  gap: 16px;
 }

@media (max-width: 900px) {
header {
  padding: 30px 10px;
}
header h1 {
font-size: 48px;
}
header h3 {
font-size: 20px;
}
header h5 {
font-size: 12px;
}
.button {
font-size: 12px;
}
}

@media (min-width: 1100px) {
  header {
    min-height: 80vh;             
    background-position: center 70%; 
  }
}
