:root {
--first-font-color: #FFFFFF;
--primery-font-family: Poppins;


}

body {
  margin: 0 auto;
}

header{
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("media/bg.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center bottom;
  text-align: center;
  padding: 16px 8px; 
  color: var(--first-font-color);
  font-family: var(--primery-font-family);
  width: auto;
  min-height: 60vh;
  z-index: 1;

  
}
.button {
  background-color: var(--first-font-color);
  color: black;
  padding: 5px 10px;
  border-radius: 5px;

}

@media (max-width: 900px) {
header {
  padding: 30px 0px;
}
}